.nav{
margin-top: 1rem;
}
.nav ul li a{
    display: block;
    padding: 0.7rem 1rem;
    color: white;
    font-weight: 500;
}

.nav ul li a span{
    margin-right: 0.5rem;
}

.nav ul li a:hover{
    color: rgba(255, 255, 255, 0.914);
    background-color: var(--chamosa-red-hover);
    cursor: pointer;
}

.active_menu{
    color: var(--chamosa-red) !important;
    background-color: white !important;
    cursor: pointer;
    z-index: 999;
}

.icon_no_expand_size{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.icon_expand{
    font-size: 1.2rem;
    padding: 0;
    display: block;
}

.menu_text{
    transition: text 0.5s ease;
}

@media (max-width: 999px) {
    .nav{
        min-height: 100vh;
    }
}