.card{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 12px;
    background-color: white;
    animation: fadeIn 3s ease;
    border: 1px solid #E6E6E6;
}

.card h1{
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 999px){
    .card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .card h2{
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    
}