@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700');

:root{
  --chamosa-red: #EC1912;
  --chamosa-red-hover: #ff7570;
}
/*
*{
  font-family: 'Barlow', sans-serif !important;
}
*/
.custom-min-width {
    min-width: 600px;
  }
  
  .custom-min-height {
    min-height: 500px;
  }

  .ant-select-selector{
    height: 3rem !important;
    font-size: 1rem;
  }

  .ant-select-selection-search{
    height: 3rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }

  .ant-select-selection-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.7rem;
    height: 2.7rem !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1rem;
  }

.ant-select-selection-placeholder{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: normal;
}