@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --chamosa-red: #EC1912;
  --chamosa-red-hover: #ff7570;
}
.custom-min-width {
    min-width: 600px;
  }
  
  .custom-min-height {
    min-height: 500px;
  }