.title{
    font-size: 1.8rem;
    font-weight: 500;
}

.scroll_view{
    min-height: calc(100vh - 150px);
    height: calc(100vh - 150px);
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
    overflow-x: hidden;
}