.form_card{
    background-color: white;
    padding: 0.8rem 2rem;
    border-radius: 12px;
}

.form_card h3{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
    text-transform: uppercase;
}

.form_card article{
    padding: 1rem 0;
}

.form_card label{
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 999px){
    .form_card{
        padding: 1rem;
    }
}