.card{
    padding: 1rem 2rem;
    border-radius: 12px;
    background-color: white;
}

.card h1{
    font-size: 1.7rem;
    font-weight: 500;
}

@media (max-width: 999px) {
    .card h1{
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
    }
}